* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(../fonts/OpenSans-Medium.ttf);
  font-family: "OpenSans-Medium";
}

body {
  text-transform: capitalize;
  font-family: "OpenSans-Medium";
  background-color: rgb(222, 220, 220);
}

.h2 {
  color: rgb(36, 34, 34);
}

i {
  font-size: 22px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 15;
  background-color: rgba(250, 250, 250, 0.3);
}

.header-logo {
  width: 100px;
  float: left;
  margin-left: 80px;
}

.header-list {
  list-style-type: none;
  float: left;
  text-align: center;
  margin-left: 23%;
  line-height: 60px;
  width: 450px;
  background-color: #93939326;
  border-radius: 50px;
}

.header-list li {
  position: relative;
  margin: auto;
  padding: 0px 20px;
  transform: translate(-50% -50%);
  display: inline-block;
}

.header-list li a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.header-list li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(88, 136, 172);
  border-radius: 5px;
  transition: all 0.5s ease;
  visibility: hidden;
}

.header-list li a:hover::after {
  width: 110%;
  height: 2px;
  visibility: visible;
}

.header-list i {
  font-size: 20px;
}

.header-links:hover i {
  color: rgb(88, 136, 172);
}
.aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  margin-right: 5px;
  /* border: 1px solid transparent; */
  /* background-color: #93939326; */
  background-color: transparent;
  /* border-radius: 5px; */
  width: 250px;
}
.header-list span {
  font-size: 10px;
  margin-left: 2px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Main-Page {
  width: 100%;
  height: 100vh;
}

.Main-Page-image {
  width: 100%;
  height: 100%;
  background-image: url(../images/iStock-1646914852.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.Main-Page-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(172, 174, 176, 27%);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
}

.Main-Page-cyprus {
  position: absolute;
  width: 200px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.Main-Page-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.564);
}

.Main-Page-title {
  display: block;
  font-size: 23px;
  letter-spacing: 1.5px;
  font-weight: bold;
  /* background-color: rgba(168, 172, 175, 0.7); */
  padding: 5px 0px;
}

.Main-Page-p1 {
  display: block;
  font-size: 18px;
  /* font-weight: bold; */
  /* background-color: rgba(168, 172, 175, 0.7); */
  width: 450px;
  margin: 25px auto;
  border-radius: 5px;
}

.Main-Page-btn1 {
  font-size: 16px;
  padding: 8px 30px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  background-color: rgba(13, 88, 132, 0.9);
  color: #fff;
  transition: 0.5s;
}

.Main-Page-btn1:hover {
  background-color: rgb(152, 195, 218);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.services {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

.services-title {
  width: 350px;
  margin: 50px auto;
}

.services-tit1 {
  position: relative;
  color: rgb(36, 34, 34);
  font-size: 35px;
  transition: 0.5s ease;
}

.services-tit1::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.services-tit1:hover::after {
  width: 100%;
  left: 0;
}

.services-items-tit {
  color: rgb(36, 34, 34);
  transition: 0.5s;
}

.services-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.services-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.services-items {
  position: relative;
  float: left;
  width: 30%;
  border: 2px solid rgb(172, 172, 172);
  border-radius: 5px;
}

.services-items::after {
  position: absolute;
  content: "";
  background-color: rgb(193, 193, 193);
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  transition: 0.5s;
  z-index: -2;
}

.services-items:hover h2 {
  color: #a73131d3;
}

.services-items:hover::after {
  width: 100%;
  height: 100%;
}

.middle {
  margin: 0 5%;
}

.services-items-tit {
  margin-top: 35px;
}

.services-items-p1 {
  margin: 15px;
  font-size: 17px;
  transition: 0.5s;
  color: rgb(104, 87, 87);
}

.services-items:hover .services-items-p1 {
  color: #201d1d;
}

.services-items-link {
  display: block;
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 50px;
  color: rgb(138, 127, 111);
  transition: 0.5s;
}

.services-items:hover .services-items-link {
  color: rgb(1, 1, 1);
}

i {
  font-size: 22px;
}

.services-icon {
  position: absolute;
  margin: 10px auto;
  color: rgb(148, 132, 108);
  transition: 0.5s;
}

.services-items:hover .services-icon {
  color: rgb(93, 84, 66);
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.visiting {
  width: 100%;
}

.visiting-title {
  width: 550px;
  text-align: center;
  margin: 50px auto;
}

.visiting-container {
  width: 90%;
  margin: auto;
}

.visiting-content {
  width: 100%;
  overflow: auto;
  text-align: center;
}

.visiting-image {
  position: relative;
  width: 30%;
  float: left;
  margin-bottom: 30px;
}

.visiting-pic1 {
  position: relative;
  width: 90%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 10px 0px;
  border-radius: 5px;
}

.visit-info {
  position: absolute;
  background-color: rgba(181, 177, 177, 0.9);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5% 10%;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}

.visiting-image:hover .visit-info {
  opacity: 1;
  visibility: visible;
}

.visit-info-icon {
  font-size: 23px;
  padding: 0 15px;
}

.visit-info-p1 {
  margin: 10px 0;
  font-size: 14px;
}

.visiting-tit1 {
  position: relative;
  width: 250px;
  margin: 50px auto;
  color: rgb(36, 34, 34);
  font-size: 35px;
}
.visiting-tit1::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.visiting-tit1:hover::after {
  width: 100%;
  left: 0;
}
.visiting-link {
  text-decoration: none;
  color: rgb(59, 55, 50);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Events {
  width: 100%;
  padding: 140px 0px;
}

.Events-title {
  width: 350px;
  text-align: center;
  margin: auto;
}

.Events-tit1 {
  position: relative;
  margin: 50px auto;
  color: rgb(36, 34, 34);
  font-size: 35px;
}

.Events-tit1::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.Events-tit1:hover::after {
  width: 100%;
  left: 0;
}

.Events-container {
  width: 80%;
  margin: auto;
}

.Events-content {
  width: 100%;
  overflow: auto;
  text-align: center;
}

.Events-items {
  position: relative;
  float: left;
  width: 30%;
  margin-bottom: 40px;
  border: 2px solid rgb(178, 172, 172);
  border-radius: 5px;
  padding: 20px 0px;
}

.Events-items::after {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #82a3a3d3;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.Events-items:hover::after {
  width: 100%;
  height: 100%;
}

.Events-items h3 {
  padding: 12px 0px;
  font-size: 19px;
  color: #1f1a1a;
  transition: 0.5s;
}

.Events-items:hover h3 {
  color: rgb(213, 213, 213);
}

.Events-items p {
  padding: 12px 3px;
  color: rgb(104, 87, 87);
  transition: 0.5s;
}

.Events-items:hover p {
  color: rgb(41, 38, 38);
}

.Events-items i {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px;
  font-size: 20px;
  color: rgb(178, 154, 122);
  transition: 0.5s;
}

.Events-items:hover i {
  color: rgb(105, 77, 37);
}

.line {
  width: 75%;
  margin: 0px auto;
  height: 1.5px;
  background-color: #747070;
  border-radius: 5px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.Cyprus {
  width: 100%;
  height: 100vh;
}

.Cyprus-container {
  width: 90%;
  margin: auto;
}

.Cyprus-content {
  width: 100%;
  position: relative;
  overflow: auto;
}

.Cyprus-text {
  width: 50%;
  position: absolute;
  float: left;
  text-align: left;
  padding: 120px 0px;
}

.Cyprus-image {
  position: relative;
  width: 50%;
  float: right;
  text-align: center;
  padding: 100px 0px;
}

.Cyprus-pic1 {
  width: 90%;
  height: 500px;
  border-radius: 4px;
}

.Cyprus-title {
  text-align: left;
  padding-bottom: 25px 0;
  color: rgb(99, 75, 38);
}

.Cyprus-tit1:hover::after {
  width: 100%;
  left: 0;
}

.Cyprus-tit2 {
  color: rgb(122, 101, 70);
  padding: 25px 0;
}

.Cyprus-text p {
  font-size: 15px;
  line-height: 24px;
  color: rgb(105, 98, 91);
}

.Cyprus-list {
  display: block;
}

.Cyprus-list li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 15px 5px;
  border-radius: 50%;
  border: 0.5px solid black;
}

.Cyprus-list li:hover {
  background-color: rgba(46, 39, 39, 0.9);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

.evaluation {
  width: 100%;
  height: 50vh;
}

.evaluation-container {
  width: 80%;
  margin: auto;
}

.evaluation-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.evaluation-image {
  z-index: -1;
  background-image: url(../images/part.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.evaluation-overlay {
  position: absolute;
  z-index: 0;
  background-color: rgba(149, 138, 138, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.evaluation-info {
  float: left;
  width: 20%;
  margin-top: 120px;
  text-align: center;
  margin-right: 5%;
}

.evaluation-info h3 {
  margin: 12px 0px;
  font-size: 18px;
}

.evaluation-p1 {
  font-size: 16px;
  font-weight: 500;
}

.evaluation a {
  color: #1f1a1a;
}

.evaluation i {
  font-size: 40px;
  color: rgba(133, 47, 21, 0.699);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.Offers {
  width: 100%;
}

.Offers-container {
  width: 90%;
  margin: auto;
}

.Offers-content {
  width: 100%;
  text-align: center;
  overflow: auto;
  padding-bottom: 120px;
}

.Offers-title {
  width: 350px;
  margin: auto;
  padding-top: 80px;
}

.Offers-title h2 {
  position: relative;
  font-size: 35px;
}

.Offers-tit1::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.Offers-tit1:hover::after {
  width: 100%;
  left: 0;
}

.Offers-item {
  position: relative;
  z-index: 0;
  float: left;
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 50px;
}

.Offers-item::after {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: rgba(207, 190, 176, 0.456);
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.Offers-item:hover::after {
  width: 100%;
  height: 100%;
}

.m h4 {
  margin: 14px 0;
}

.offers-text {
  padding: 20px 0px;
  width: 100%;
  height: 370px;
  line-height: 25px;
}

.offers-text h4 {
  font-size: 15px;
  color: #3f3c3c;
}

.offers h3 {
  color: rgb(118, 81, 21);
  font-size: 22px;
  margin: 8px 0;
  transition: 0.5s;
}

.Offers-item:hover .Offers-tit2 {
  color: rgba(0, 0, 0, 0.833);
}

.offers-text p {
  font-size: 13px;
  color: rgb(62, 53, 53);
  margin: auto;
  text-align: left;
  padding: 5px 20px;
}

.Offers-item:hover .pp {
  color: rgba(146, 56, 32, 0.841);
}

.Offers-circle {
  width: 90px;
  height: 90px;
  border: 2px solid rgb(151, 99, 86);
  outline: 0px solid rgb(151, 99, 86);
  border-radius: 50%;
  margin: 30px auto;
  transition: 0.5s;
}

.Offers-item:hover .Offers-circle {
  border: 3px solid rgb(151, 99, 86);
  outline: 4px solid rgb(151, 99, 86);
  outline-offset: 5px;
}

.Offers-circle p {
  margin: 5px;
  font-size: 16px;
  color: rgb(59, 55, 55);
  font-weight: 600;
  transition: 0.5s;
}

.offers-icon {
  margin: 25px 0px;
  color: rgb(107, 98, 98);
  font-size: 45px;
  transition: 0.5s;
}

.Offers-item:hover .offers-icon {
  color: rgb(36, 33, 33);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.reservation {
  width: 100%;
  height: 50vh;
}

.reservation-contant {
  position: relative;
  width: 100%;
  margin: auto;
}

.reservation-image {
  width: 100%;
  height: 100%;
  background-image: url(../images/hotel.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.reservation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 1;
}

.reservation-info {
  position: relative;
  float: left;
  width: 40%;
  margin: 85px 5%;
  text-align: left;
}

.info-part1 {
  width: 90%;
  margin: 25px 5%;
}

.info-part1 h3 {
  color: rgb(222, 164, 164);
  margin-left: 40%;
  width: 140px;
  font-size: 18px;
}

.info-part1 a {
  text-decoration: none;
  color: rgb(222, 164, 164);

  font-size: 18px;
}

.info-part1 span {
  color: rgb(184, 179, 179);
  margin-left: 42%;
  font-weight: 700;
}

.info-part2 {
  color: rgb(203, 175, 152);
  width: 90%;
  margin: 35px 5%;
}

.info-part2 p {
  font-size: 15px;
  margin-left: 30%;
}

.info-image {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url(../images/hotel11.jpg);
  background-size: contain;
  background-position: center;
}

.car {
  background-image: url(../images/Untitled\ design.png);
  background-size: cover;
  background-position: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.team {
  width: 100%;
  height: 75vh;
}

.team-container {
  width: 80%;
  margin: auto;
}

.team-content {
  width: 100%;
  margin: 100px auto;
}

.team-title {
  width: 350px;
  margin: 50px auto;
  text-align: center;
}

.team-title h2 {
  position: relative;
  font-size: 32px;
}

.team-tit1::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.team-tit1:hover::after {
  width: 100%;
  left: 0;
}

.team-item {
  float: left;
  width: 30%;
  background-color: rgba(161, 154, 154, 0.519);
  padding: 10px 12px;
  text-align: center;
  position: relative;
  border-radius: 5px;
}

.team-img {
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 5px;
}

.team-img img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.team-overley {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-overley {
  opacity: 0.5;
  visibility: visible;
  z-index: 5;
}

.team-overley a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgb(202, 135, 33);
  color: #fff;
  font-size: 23px;
  margin-right: auto;
}

.team-overley i {
  line-height: 40px;
  border-radius: 5px;
}

.team-item::after {
  position: absolute;
  content: "";

  width: 0%;
  height: 100%;

  top: 0;
  left: 0;
  background-color: rgba(185, 108, 49, 0.3);

  border-radius: 5px;
  transition: 1s;
}

.team-item:hover::after {
  width: 100%;
  height: 100%;
}

.team-item::before {
  position: absolute;
  content: "";

  width: 0%;
  height: 100%;

  bottom: 0;
  right: 0;

  background-color: rgba(58, 60, 58, 0.3);
  border-radius: 5px;
  opacity: 0;
  transition: 1s;
}

.team-item:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.team-info {
  padding: 20px 0px;
}

.team-info h3 {
  margin: 10px 0px;
}

.team-info p {
  font-size: 12px;
}

/*  //////////////////////////////////////////////////////////////////////////////////////////////////////////////   */

.Feedback {
  width: 100%;
  height: 120vh;
}

.Feedback-container {
  width: 80%;
  margin: auto;
}

.Feedback-contant {
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

.Feedback-title {
  width: 350px;
  margin: 20px auto;
  text-align: center;
}

.Feedback-tit {
  position: relative;
  font-size: 32px;
}

.Feedback-tit::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  bottom: -10%;
  left: 25%;
  background-color: #3f3c3c;
  border-radius: 5px;
  transition: 0.5s;
}

.Feedback-tit:hover::after {
  width: 100%;
  left: 0;
}

.Feedback-item {
  position: relative;
  z-index: 0;
  background-color: #eee0e071;
  border-radius: 4px;
  padding-bottom: 50px;
  float: left;
  width: 30%;
  height: 700px;
  transition: 0.5s;
}

.Feedback-item::after {
  position: absolute;
  z-index: 2;
  content: "";
  background-color: rgba(198, 177, 150, 0.8);
  border-radius: 5px;
  width: 100%;
  height: 0px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}

.Feedback-item:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.Feedback-image {
  width: 100%;
  position: relative;
  text-align: center;
}

.Feedback-image img {
  width: 90%;
  height: 300px;
  margin: 15px 5%;
  border-radius: 5px;
}

.Feedback-image i {
  margin-left: 15px;
  font-size: 13px;
}

.Feedback-image i span {
  font-size: 9px;
  letter-spacing: 2px;
  margin: 1px 3px;
}

.Feedback-comment {
  position: relative;
  width: 90%;
  height: 300px;
  margin: auto;
  line-height: 30px;
}

.Feedback-comment h3 {
  font-size: 18px;
  margin: 15px auto;
}

.Feedback-comment p {
  font-size: 13px;
  color: rgb(40, 38, 38);
}

.Feedback-comment a {
  position: absolute;
  top: 90%;
  left: 5%;
  text-decoration: none;
  color: #5278a6;
  font-size: 14px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

.footer {
  width: 100%;
  padding-top: 10px;
  font-family: monospace;
  background-color: #1f1a1a;
}

.footer-container {
  width: 90%;
  margin: auto;
}

.footer-contant {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.contant-title {
  width: 350px;
  text-align: center;
  margin: auto;
}

.contant-title h3 {
  font-size: 25px;
  margin-top: 25px;
}

.footer-Connect {
  width: 70%;
  margin: 25px auto;
}

.footer-Connect i {
  margin: 10 40px;
  font-size: 45px;
  width: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.facebook:hover {
  color: #4267b2;
}
.youtube:hover {
  color: #ff0000;
}
.x-twitter:hover {
  color: #fff;
}
.instagram:hover {
  color: #e1306c;
}
.linkedin:hover {
  color: rgb(0, 119, 181);
}
.telegram:hover {
  color: #229ed9;
}
.footer-Information {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  transform: translate(35%, -10%);
}

.footer-Information .tit2 {
  font-size: 18px;
  margin: 35px 0px 15px 0px;
  text-align: left;
}

.footer-Information p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.footer-Information a {
  color: #6e7276;
  text-decoration: none;
}

.footer-Information a:hover {
  color: #195693;
}

.footer-Connect a {
  color: #b525087d;
}

.footer-Connect a:hover {
  color: #b52508;
}

.end {
  font-size: 16px;
  margin: 15px 0px;
  color: #c0c0c08b;
  font-style: oblique;
}
